<%- include('layout/header')%>

<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-success">
                    <h3 class="test-light">Edit Book Details (<%= bookdetail.bookid %>)</h3>
                </div>
                <div class="card-body p-4">
                    <form action="/update/<%= bookdetail._id %>" method="post" id="add-form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="name">Book Name</label>
                            <input type="text" name="name" class="form-control form-control-lg" value="<%= bookdetail.bookname %>" required />
                        </div>
                        <div class="mb-3">
                            <label for="author">Author</label>
                            <input type="text" name="author" class="form-control form-control-lg" value="<%= bookdetail.author %>" required />
                        </div>
                        <div class="mb-3">
                            <label for="dept">Department</label>
                            <input type="text" name="dept" class="form-control form-control-lg" value="<%= bookdetail.department %>" required />
                        </div>
                        <div class="mb-3">
                            <label for="image">Book Image</label>
                            <input type="file" name="image" class="form-control form-control-lg">
                            <img src="/<%= bookdetail.image %>" height="150px" style="margin-top: 10px;">
                        </div>
                        <input type="hidden" name="old_image" value="<%= bookdetail.image %>"/>
                        <div class="mb-3">
                            <label for="status">Status</label>
                            <div class="mb-3">
                                <input type="radio" name="status" value="Available"><label>Available&nbsp</label>
                                <input type="radio" name="status" value="Not Available"><label>Not Available</label>
                            </div>
                            
                        </div>
                        <div class="mb-3 d-grid">
                            <input type="submit" name="submit" value="Update Book" class="btn btn-success btn-lg"required />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('layout/footer')%>